<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="./">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>银行管理系统</title>
        <!-- Main styles for this application-->
        <link href="{{url_for('static', filename='css/coreui.css')}}" rel="stylesheet">
        <!-- Global site tag (gtag.js) - Google Analytics-->
        <script>
            window.dataLayer = window.dataLayer || [];
    
            function gtag() {
            dataLayer.push(arguments);
            }
            gtag('js', new Date());
            // Shared ID
            gtag('config', 'UA-118965717-3');
            // Bootstrap ID
            gtag('config', 'UA-118965717-5');
        </script>
    </head>
    <body class="c-app">
        <div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
        <div class="c-sidebar-brand d-lg-down-none">
            银行管理系统
        </div>
        <ul class="c-sidebar-nav">
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="../index">
                    <svg class="c-sidebar-nav-icon">
                        <use xlink:href="../static/icons/free.svg#cil-home"></use>
                    </svg> 
                    首页
                </a>
            </li>
            <li class="c-sidebar-nav-title">管理</li>
            <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                    <svg class="c-sidebar-nav-icon">
                        <use xlink:href="../static/icons/free.svg#cil-user-follow"></use>
                    </svg> 
                    客户管理
                </a>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="../customer/create"><span class="c-sidebar-nav-icon"></span> 新增客户</a>
                    </li>
                </ul>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="../customer/search"><span class="c-sidebar-nav-icon"></span> 查询客户</a>
                    </li>
                </ul>
            </li>

            <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                    <svg class="c-sidebar-nav-icon">
                        <use xlink:href="../static/icons/free.svg#cil-star"></use>
                    </svg>
                    账户管理
                </a>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="create"><span class="c-sidebar-nav-icon"></span> 新增账户</a>
                    </li>
                </ul>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="search"><span class="c-sidebar-nav-icon"></span> 查询账户</a>
                    </li>
                </ul>
            </li>

            <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                    <svg class="c-sidebar-nav-icon">
                        <use xlink:href="../static/icons/free.svg#cil-puzzle"></use>
                    </svg> 
                    贷款管理
                </a>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="../loan/create"><span class="c-sidebar-nav-icon"></span> 新增贷款</a>
                    </li>
                </ul>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="../loan/search"><span class="c-sidebar-nav-icon"></span> 查询贷款</a>
                    </li>
                </ul>
            </li>
            <li class="c-sidebar-nav-title">统计</li>
            <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                    <svg class="c-sidebar-nav-icon">
                        <use xlink:href="../static/icons/free.svg#cil-chart-line"></use>
                    </svg> 
                    业务统计
                </a>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="../statistics/year"><span class="c-sidebar-nav-icon"></span> 年度统计</a>
                    </li>
                </ul>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="../statistics/quarter"><span class="c-sidebar-nav-icon"></span> 季度统计</a>
                    </li>
                </ul>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="../statistics/month"><span class="c-sidebar-nav-icon"></span> 月度统计</a>
                    </li>
                </ul>
            </li>
        </ul>
        <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>
        </div>
        <div class="c-wrapper c-fixed-components">
            <header class="c-header c-header-light c-header-fixed c-header-with-subheader">
                <!-- Header content here -->
                <button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" data-target="#sidebar" data-class="c-sidebar-lg-show" responsive="true">
                    <svg class="c-icon c-icon-lg">
                    <use xlink:href="../static/icons/free.svg#cil-menu"></use>
                    </svg>
                </button>
            </header>
            <div class="c-body">
            <main class="c-main">
                <div class="container-fluid">
                    <div class="fade-in">
                        <!-- Main content here -->
                        <!-- <h4  class="display-4">账户管理</h1> -->
                        <div class="card">
                            <div class="card-header">
                                增加账户
                            </div>
                             <div class="card-body">
                                <form method="post">
                                    {% for i in range(labels|length) %}
                                    <div class="form-group row">
                                      <label class="col-2 col-form-label text-right">{{ labels[i] }}</label>
                                      <div class="col-9">
                                        {% if names[i] == "accounttype" %}
                                        <div class="d-flex align-items-center h-100">
                                        {% if init_form["accounttype"] != "checkacc" %}
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="accounttype" id="saveacc" value="saveacc" checked>
                                            <label class="form-check-label" for="saveacc">储蓄账户</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="accounttype" id="checkacc" value="checkacc">
                                            <label class="form-check-label" for="checkacc">支票账户</label>
                                        </div>
                                        {% else %}
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="accounttype" id="saveacc" value="saveacc">
                                            <label class="form-check-label" for="saveacc">储蓄账户</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="accounttype" id="checkacc" value="checkacc" checked>
                                            <label class="form-check-label" for="checkacc">支票账户</label>
                                        </div>
                                        {% endif %}
                                        </div>
                                        {% else %}
                                        {% if names[i] in errors %}
                                        <input type="text" class="form-control border-danger" 
                                            name="{{ names[i] }}" value="{{ init_form[names[i]] }}">
                                        {% else %}
                                        <input type="text" class="form-control" name="{{ names[i] }}" 
                                            value="{{ init_form[names[i]] }}">
                                        {% endif %}
                                        {% endif %}
                                      </div>
                                    </div>
                                    {% endfor %}
                                    <div class="row">
                                      <div class="col-11 w-100 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-info mr-2">提交</button>
                                        <button type="submit" class="btn btn-secondary">重置</button>
                                      </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            </div>
            <footer class="c-footer">
            <!-- Footer content here -->
            <div>&copy; 2020 nnnyt. All rights reserved.</div>
            <!-- <div class="ml-auto">Powered by&nbsp;<a href="https://coreui.io/">CoreUI</a></div> -->
            </footer>
            {% with messages = get_flashed_messages() %}
            {% for message in messages %}
            <div class="fixed-top d-flex justify-content-end m-3">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            </div>
            {% endfor %}
            {% endwith %}
        <!-- CoreUI and necessary plugins-->
        <script src="../static/js/coreui.bundle.min.js"></script>
        <!-- Plugins and scripts required by this view-->
    </body>
</html>
