<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="./">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>银行管理系统</title>
        <!-- Main styles for this application-->
        <link href="{{url_for('static', filename='css/coreui.css')}}" rel="stylesheet">
        <!-- Global site tag (gtag.js) - Google Analytics-->
        <script>
            window.dataLayer = window.dataLayer || [];
    
            function gtag() {
            dataLayer.push(arguments);
            }
            gtag('js', new Date());
            // Shared ID
            gtag('config', 'UA-118965717-3');
            // Bootstrap ID
            gtag('config', 'UA-118965717-5');
        </script>
    </head>
    <body class="c-app">
        <div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
        <div class="c-sidebar-brand d-lg-down-none">
            银行管理系统
        </div>
        <ul class="c-sidebar-nav">
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="../index">
                    <svg class="c-sidebar-nav-icon">
                        <use xlink:href="../static/icons/free.svg#cil-home"></use>
                    </svg> 
                    首页
                </a>
            </li>
            <li class="c-sidebar-nav-title">管理</li>
            <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                    <svg class="c-sidebar-nav-icon">
                        <use xlink:href="../static/icons/free.svg#cil-user-follow"></use>
                    </svg> 
                    客户管理
                </a>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="../customer/create"><span class="c-sidebar-nav-icon"></span> 新增客户</a>
                    </li>
                </ul>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="../customer/search"><span class="c-sidebar-nav-icon"></span> 查询客户</a>
                    </li>
                </ul>
            </li>

            <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                    <svg class="c-sidebar-nav-icon">
                        <use xlink:href="../static/icons/free.svg#cil-star"></use>
                    </svg>
                    账户管理
                </a>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="../account/create"><span class="c-sidebar-nav-icon"></span> 新增账户</a>
                    </li>
                </ul>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="../account/search"><span class="c-sidebar-nav-icon"></span> 查询账户</a>
                    </li>
                </ul>
            </li>

            <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                    <svg class="c-sidebar-nav-icon">
                        <use xlink:href="../static/icons/free.svg#cil-puzzle"></use>
                    </svg> 
                    贷款管理
                </a>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="../loan/create"><span class="c-sidebar-nav-icon"></span> 新增贷款</a>
                    </li>
                </ul>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="../loan/search"><span class="c-sidebar-nav-icon"></span> 查询贷款</a>
                    </li>
                </ul>
            </li>
            <li class="c-sidebar-nav-title">统计</li>
            <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                    <svg class="c-sidebar-nav-icon">
                        <use xlink:href="../static/icons/free.svg#cil-chart-line"></use>
                    </svg> 
                    业务统计
                </a>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="year"><span class="c-sidebar-nav-icon"></span> 年度统计</a>
                    </li>
                </ul>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="quarter"><span class="c-sidebar-nav-icon"></span> 季度统计</a>
                    </li>
                </ul>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="month"><span class="c-sidebar-nav-icon"></span> 月度统计</a>
                    </li>
                </ul>
            </li>
        </ul>
        <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>
        </div>
        <div class="c-wrapper c-fixed-components">
            <header class="c-header c-header-light c-header-fixed c-header-with-subheader">
                <!-- Header content here -->
                <button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" data-target="#sidebar" data-class="c-sidebar-lg-show" responsive="true">
                    <svg class="c-icon c-icon-lg">
                    <use xlink:href="../static/icons/free.svg#cil-menu"></use>
                    </svg>
                </button>
            </header>
            <div class="c-body">
            <main class="c-main">
                <div class="container-fluid">
                    <div class="fade-in">
                        <!-- Main content here -->
                        <!-- <h4  class="display-4">业务统计</h4> -->
                        <div class="card-columns cols-2">
                            <div class="card">
                                <div class="card-header">
                                    储蓄统计
                                </div>
                                <div class="card-body">
                                    <canvas id="acc-chart" height="178"></canvas>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    贷款统计
                                </div>
                                <div class="card-body">
                                    <canvas id="loan-chart" height="178"></canvas>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    储蓄用户统计
                                </div>
                                <div class="card-body">
                                    <canvas id="cus-acc-chart" height="178"></canvas>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    贷款用户统计
                                </div>
                                <div class="card-body">
                                    <canvas id="cus-loan-chart" height="178"></canvas>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    储蓄统计
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered table-hover table-responsive-sm">
                                        <thead>
                                          <tr class="text-center">
                                            <th scope="col">{{ time }}</th>
                                            {% for bank in banks %}
                                            <th scope="col">{{ bank }}</th>
                                            {% endfor %}
                                          </tr>
                                        </thead>
                                        <tbody>
                                          {% for stat in money_stat %}
                                          <tr class="text-center">
                                            <th class="align-middle" scope="row">{{ stat.period }}</th>
                                            {% for bank in banks %}
                                            <td class="align-middle">{{ stat.acc[bank] }}</td>
                                            {% endfor %}
                                          </tr>
                                          {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    贷款统计
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered table-hover table-responsive-sm">
                                        <thead>
                                        <tr class="text-center">
                                            <th scope="col">{{time}}</th>
                                            {% for bank in banks %}
                                            <th scope="col">{{ bank }}</th>
                                            {% endfor %}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for stat in money_stat %}
                                        <tr class="text-center">
                                            <th class="align-middle" scope="row">{{ stat.period }}</th>
                                            {% for bank in banks %}
                                            <td class="align-middle">{{ stat.loan[bank] }}</td>
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    储蓄用户统计
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered table-hover table-responsive-sm">
                                        <thead>
                                        <tr class="text-center">
                                            <th scope="col">{{time}}</th>
                                            {% for bank in banks %}
                                            <th scope="col">{{ bank }}</th>
                                            {% endfor %}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for stat in cus_stat %}
                                        <tr class="text-center">
                                            <th class="align-middle" scope="row">{{ stat.period }}</th>
                                            {% for bank in banks %}
                                            <td class="align-middle">{{ stat.acc[bank] }}</td>
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    贷款用户统计
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered table-hover table-responsive-sm">
                                        <thead>
                                        <tr class="text-center">
                                            <th scope="col">{{time}}</th>
                                            {% for bank in banks %}
                                            <th scope="col">{{ bank }}</th>
                                            {% endfor %}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for stat in cus_stat %}
                                        <tr class="text-center">
                                            <th class="align-middle" scope="row">{{ stat.period }}</th>
                                            {% for bank in banks %}
                                            <td class="align-middle">{{ stat.loan[bank] }}</td>
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            </div>
            <footer class="c-footer">
            <!-- Footer content here -->
            <div>&copy; 2020 nnnyt. All rights reserved.</div>
            <!-- <div class="ml-auto">Powered by&nbsp;<a href="https://coreui.io/">CoreUI</a></div> -->
            </footer>
        <!-- CoreUI and necessary plugins-->
        <script src="../static/js/coreui.bundle.min.js"></script>
        <script src="../static/js/Chart.js"></script>
        <!-- Plugins and scripts required by this view-->
        <script>
            var banks = {{ banks | tojson }};
            var colors = {{ colors | tojson }};
            var money_stat = {{ money_stat | tojson }};
            var cus_stat = {{ cus_stat | tojson }};
            var data = {
                labels: [],
                datasets: []
            };
            for (bank of banks) {
                data.datasets.push({
                label: bank, data: [], 
                fill: false, 
                borderColor: colors[banks.indexOf(bank)]
                })
            }
            for (stat of money_stat) {
                data.labels.push(stat.period);
                for (bank of banks) {
                data.datasets[banks.indexOf(bank)].data.push(stat.acc[bank]);
                }
            }
            var ctx = document.getElementById("acc-chart");
            var acc_chart = new Chart(ctx, {
                type: 'line',
                data: data
            });
            
            var data = {
                labels: [],
                datasets: []
            };
            for (bank of banks) {
                data.datasets.push({
                label: bank, data: [], 
                fill: false, 
                borderColor: colors[banks.indexOf(bank)]
                })
            }
            for (stat of money_stat) {
                data.labels.push(stat.period);
                for (bank of banks) {
                data.datasets[banks.indexOf(bank)].data.push(stat.loan[bank]);
                }
            }
            var ctx = document.getElementById("loan-chart");
            var loan_chart = new Chart(ctx, {
                type: 'line',
                data: data
            });

            var data = {
                labels: [],
                datasets: []
            };
            for (bank of banks) {
                data.datasets.push({
                label: bank, data: [], 
                fill: false, 
                borderColor: colors[banks.indexOf(bank)]
                })
            }
            for (stat of cus_stat) {
                data.labels.push(stat.period);
                for (bank of banks) {
                data.datasets[banks.indexOf(bank)].data.push(stat.acc[bank]);
                }
            }
            var ctx = document.getElementById("cus-acc-chart");
            var cus_acc_chart = new Chart(ctx, {
                type: 'line',
                data: data
            });
            var data = {
                labels: [],
                datasets: []
            };
            for (bank of banks) {
                data.datasets.push({
                label: bank, data: [], 
                fill: false, 
                borderColor: colors[banks.indexOf(bank)]
                })
            }
            for (stat of cus_stat) {
                data.labels.push(stat.period);
                for (bank of banks) {
                data.datasets[banks.indexOf(bank)].data.push(stat.loan[bank]);
                }
            }
            var ctx = document.getElementById("cus-loan-chart");
            var cus_loan_chart = new Chart(ctx, {
                type: 'line',
                data: data
            });
        </script>
    </body>
</html>
